.footer {
    position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    text-align: center;
  }

.footerwrap{
    position:relative;
    /* top:460px; */
    width:100%;
    z-index:501;
    clear:both;
}

.foottxt{
    width:100%;
    height:26px;    
    text-align: center;
    background:grey;
    padding:15px 0;
    margin: 0;
    box-sizing: border-box;
}